@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';
@import './unreset.scss';

html {
  background-color: #f3f4f6;
}

.toggle-checkbox {
  @apply absolute block w-6 h-6 dark:bg-white border-4 dark:border-gray-400 rounded-full appearance-none cursor-pointer focus:outline-none bg-gray-800 border-gray-200;
}

.toggle-checkbox:checked {
  @apply right-0 border-gray-400;
}

.toggle-label {
  @apply block h-6 align-middle overflow-hidden text-gray-200 bg-gray-200 rounded-full cursor-pointer dark:text-gray-400 dark:bg-gray-400 dark:border-gray-400 border-gray-200 border-2;
}

.hljs {
  @apply rounded-lg;
}

code {
  padding: 0.2em 0.4em;
  background: #c7c9caee;
  font-size: .85em;
  color: crimson;
  border-radius: 4px;
  vertical-align: 0.08em;
}
