@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';
@import './unreset.scss';

html {
  @media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */
    min-width: 1500px;
    #_app {
      min-height: 2680px;
      #layout {
        max-width: 70rem;
        #header {
          margin-top: 150px;
          margin-bottom: 250px;
          h1 {
            font-size: 15vh;
            margin-right: initial;
            padding-top: 40px;
          }
          #github-icon-container {
            margin-left: auto;
            #github-icon {
              padding-top: 3vh;
              font-size: 15vh;
            }
          }
        }
        #tag-icon {
          font-size: 8vh;
        }
        #post-container {
          #post-sub-container {
            margin-top: 150px;
            h2 {
              font-size: 8vh;
              line-height: 110px;
            }
            #updated-at {
              font-size: 6vh;
            }
            #tag {
              margin-top: 4vh;
              font-size: 7vh;
            }
          }
        }
        #pagination {
          margin-top: 150px;
          font-size: 6vh;
          #prev-page-icon {
            padding-top: 1.5vh;
          }
          #next-page-icon {
            padding-top: 1.5vh;
          }
          #page-number {
            margin-left: 5vh;
            margin-right: 5vh;
          }
        }
        #footer {
          #copyright {
            font-size: 6vh;
          }
          margin-bottom: 20vh;
        }
        #back-page-link {
          margin-bottom: 15vh;
          font-size: 6vh;
        }
      }
    }
    #layout {
      margin-top: 90px;
    }
    #post-container {
      margin-bottom: 90px;
    }
  }
  @media screen and (max-width: 375px) {
    /* 375pxまでの幅の場合に適応される */
    min-width: 1500px;
    #_app {
      min-height: 2680px;
      #layout {
        max-width: 70rem;
        #header {
          margin-top: 150px;
          margin-bottom: 250px;
          h1 {
            font-size: 21vh;
            margin-right: initial;
            padding-top: 40px;
          }
          #github-icon-container {
            margin-left: auto;
            #github-icon {
              padding-top: 3vh;
              font-size: 15vh;
            }
          }
        }
        #post-container {
          #post-sub-container {
            margin-top: 150px;
            h2 {
              font-size: 12vh;
              line-height: 100px;
            }
            #updated-at {
              font-size: 9vh;
            }
            #tag {
              margin-top: 4vh;
              font-size: 10vh;
            }
          }
        }
        #pagination {
          margin-top: 150px;
          font-size: 9vh;
          #prev-page-icon {
            padding-top: 1.5vh;
          }
          #next-page-icon {
            padding-top: 1.5vh;
          }
          #page-number {
            margin-left: 5vh;
            margin-right: 5vh;
          }
        }
        #footer {
          #copyright {
            font-size: 8vh;
          }
          margin-bottom: 20vh;
        }
        #back-page-link {
          margin-bottom: 15vh;
          font-size: 8vh;
        }
      }
    }
    #layout {
      margin-top: 90px;
    }
    #post-container {
      margin-bottom: 90px;
    }
  }
}

.hljs {
  @apply rounded-lg;
}

code {
  padding: 0.2em 0.4em;
  background: #c7c9caee;
  font-size: .85em;
  color: crimson;
  border-radius: 4px;
  vertical-align: 0.08em;
}
