#post-container {
  @media screen and (max-width: 1500px) {
    .post-contents {
      a {
        @apply text-blue-400 hover:underline;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      blockquote {
        code {
          padding: initial;
          background: initial;
          font-size: 1em;
          color: initial;
          border-radius: initial;
          vertical-align: initial;
        }
        padding: 0 1em;
        color: #acaaa8ee;
        border-left: 0.11em solid #979593ee;
        @apply my-2 mx-3
      }

      code {
        padding: 0.2em 0.4em;
        font-size: 0.85em;
        color: rgb(209 213 219);
        border-radius: 6px;
        vertical-align: 0.08em;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      figure {
        @apply my-4 mx-10;
      }

      hr {
        @apply border;
      }

      h1 {
        @apply text-4xl font-bold mb-4 border-b-2	mt-9;
      }

      h2 {
        @apply text-2xl font-bold mb-4 border-b-2	mt-9;
      }

      h3 {
        @apply text-lg font-bold mb-4 mt-4;
      }

      h4 {
        @apply text-base font-bold mb-2 mt-4;
      }

      h5 {
        @apply text-sm font-bold mb-4;
      }

      h6 {
        @apply text-xs font-bold mb-4;
      }

      article,
      aside,
      nav,
      section {
        h1 {
          @apply text-2xl font-bold my-3;
        }

        article,
        aside,
        nav,
        section {
          h1 {
            @apply text-lg font-bold my-4;
          }

          article,
          aside,
          nav,
          section {
            h1 {
              @apply text-base font-bold my-5;
            }

            article,
            aside,
            nav,
            section {
              h1 {
                @apply text-sm font-bold my-6;
              }

              article,
              aside,
              nav,
              section {
                h1 {
                  @apply text-xs font-bold my-10;
                }
              }
            }
          }
        }
      }

      ul,
      menu {
        @apply list-disc my-1 pl-5;
      }

      li > p {
        @apply my-0;
      }

      ol {
        @apply list-decimal my-1 pl-5;
      }

      ul {
        @apply my-4;
        li {
          margin-top: 2px;
        }
      }
      ol {
        ul {
          list-style-type: circle;
        }

        ul,
        ol {
          ul {
            list-style-type: square;
          }
        }
      }

      dd {
        @apply pl-10;
      }

      dl {
        @apply my-4;
      }

      ul,
      ol,
      menu,
      dl {
        ul,
        ol,
        menu,
        dl {
          margin: 0;
        }
      }

      legend {
        @apply py-0 px-1;
      }

      fieldset {
        @apply my-0 mx-1 pt-0 px-1 pb-2;
      }

      b,
      strong {
        font-weight: bold;
      }

      pre {
        @apply my-2;
        div {
          border-radius: 10px;
        }
      }

      br:after {
        content: "\00a0";
      }
    }
  }
  @media screen and (max-width: 480px) {
    #post-title {
      margin-top: 30vh;
      font-size: 13vh;
      line-height: 150px;
    }
    #date {
      margin-bottom: 7vh;
      font-size: 9vh;
    }
    .post-contents {
      p {
        font-size: 9vh;
        line-height: 15vh;
      }

      pre {
        font-size: 9vh;
        div {
          border-radius: 10px;
        }
      }

      img {
        width: 150vh;
      }

      a {
        @apply text-blue-400 hover:underline;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      blockquote {
        code {
          padding: initial;
          background: initial;
          font-size: 1em;
          color: initial;
          border-radius: initial;
          vertical-align: initial;
        }
        padding: 0 1em;
        color: #acaaa8ee;
        border-left: 0.11em solid #979593ee;
        font-size: 7.8vh;
      }

      code {
        padding: 0.2em 0.4em;
        font-size: 0.85em;
        color: rgb(209 213 219);
        border-radius: 25px;
        vertical-align: 0.08em;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      figure {
        @apply my-4 mx-10;
      }

      hr {
        @apply border;
      }

      h1 {
        @apply font-bold mb-4 border-b-2 mt-9;
      }

      h2 {
        @apply font-bold mb-4 border-b-2 mt-9;
        font-size: 12vh;
        line-height: 150px;
        margin-top: 20vh;
        margin-bottom: 6vh;
      }

      h3 {
        @apply text-lg font-bold;
        font-size: 11vh;
        margin-top: 13vh;
        line-height: 150px;
      }

      h4 {
        @apply font-bold;
        font-size: 9vh;
        margin-top: 10vh;
        margin-bottom: 6vh;
        line-height: 100px;
      }

      h5 {
        @apply text-sm font-bold mb-4;
      }

      h6 {
        @apply text-xs font-bold mb-4;
      }

      article,
      aside,
      nav,
      section {
        h1 {
          @apply text-2xl font-bold my-3;
        }

        article,
        aside,
        nav,
        section {
          h1 {
            @apply text-lg font-bold my-4;
          }

          article,
          aside,
          nav,
          section {
            h1 {
              @apply text-base font-bold my-5;
            }

            article,
            aside,
            nav,
            section {
              h1 {
                @apply text-sm font-bold my-6;
              }

              article,
              aside,
              nav,
              section {
                h1 {
                  @apply text-xs font-bold my-10;
                }
              }
            }
          }
        }
      }

      ul {
        font-size: 7.8vh;
        margin-top: 6vh;
        line-height: 15vh;
        menu {
          @apply list-disc pl-5;
        }
        li {
          margin-left: 5vh;
        }
        ol {
          ul {
            list-style-type: circle;
          }

          ul,
          ol {
            ul {
              list-style-type: square;
            }
          }
        }
      }

      li > p {
        @apply my-0;
      }

      ol {
        @apply list-decimal pl-5;
      }

      dd {
        @apply pl-10;
      }

      dl {
        @apply my-4;
      }

      legend {
        @apply py-0 px-1;
      }

      fieldset {
        @apply my-0 mx-1 pt-0 px-1 pb-2;
      }

      b,
      strong {
        font-weight: bold;
      }

      pre {
        @apply my-2;
        div {
          border-radius: 10px;
        }
      }

      br:after {
        content: "\00a0";
      }
    }
  }
  @media screen and (max-width: 375px) {
    #post-title {
      margin-top: 30vh;
      font-size: 13vh;
      line-height: 150px;
    }
    #updated-at {
      margin-bottom: 7vh;
      font-size: 10vh;
    }
    .post-contents {
      p {
        font-size: 10vh;
        line-height: 17vh;
      }

      pre {
        font-size: 9vh;
        div {
          border-radius: 10px;
        }
      }

      img {
        width: 150vh;
      }

      a {
        @apply text-blue-400 hover:underline;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      blockquote {
        code {
          padding: initial;
          background: initial;
          font-size: 1em;
          color: initial;
          border-radius: initial;
          vertical-align: initial;
        }
        padding: 0 1em;
        color: #acaaa8ee;
        border-left: 0.11em solid #979593ee;
        font-size: 7.8vh;
      }

      code {
        padding: 0.2em 0.4em;
        font-size: 0.85em;
        color: rgb(209 213 219);
        border-radius: 25px;
        vertical-align: 0.08em;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      figure {
        @apply my-4 mx-10;
      }

      hr {
        @apply border;
      }

      h1 {
        @apply font-bold mb-4 border-b-2 mt-9;
      }

      h2 {
        @apply font-bold mb-4 border-b-2 mt-9;
        font-size: 12vh;
        line-height: 150px;
        margin-top: 20vh;
        margin-bottom: 6vh;
      }

      h3 {
        @apply text-lg font-bold;
        font-size: 11vh;
        margin-top: 13vh;
        line-height: 150px;
      }

      h4 {
        @apply font-bold;
        font-size: 9vh;
        margin-top: 10vh;
        margin-bottom: 6vh;
        line-height: 100px;
      }

      h5 {
        @apply text-sm font-bold mb-4;
      }

      h6 {
        @apply text-xs font-bold mb-4;
      }

      article,
      aside,
      nav,
      section {
        h1 {
          @apply text-2xl font-bold my-3;
        }

        article,
        aside,
        nav,
        section {
          h1 {
            @apply text-lg font-bold my-4;
          }

          article,
          aside,
          nav,
          section {
            h1 {
              @apply text-base font-bold my-5;
            }

            article,
            aside,
            nav,
            section {
              h1 {
                @apply text-sm font-bold my-6;
              }

              article,
              aside,
              nav,
              section {
                h1 {
                  @apply text-xs font-bold my-10;
                }
              }
            }
          }
        }
      }

      ul {
        font-size: 10vh;
        margin-top: 8vh;
        margin-bottom: 8vh;
        line-height: 17vh;
        menu {
          @apply list-disc pl-5;
        }
        li {
          margin-top: 2vh;
          margin-left: 5vh;
        }
        ol {
          ul {
            list-style-type: circle;
          }

          ul,
          ol {
            ul {
              list-style-type: square;
            }
          }
        }
      }

      li > p {
        @apply my-0;
      }

      ol {
        @apply list-decimal pl-5;
      }

      dd {
        @apply pl-10;
      }

      dl {
        @apply my-4;
      }

      legend {
        @apply py-0 px-1;
      }

      fieldset {
        @apply my-0 mx-1 pt-0 px-1 pb-2;
      }

      b,
      strong {
        font-weight: bold;
      }

      pre {
        @apply my-2;
        div {
          border-radius: 10px;
        }
      }

      br:after {
        content: "\00a0";
      }
    }
  }
}

